In [10]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import sqlite3
import numpy as np
import datetime

In [11]:
# Requests, getting html
url = 'https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29'
r = requests.get(url).text

In [141]:
# Using BeautifulSoup to parse html
soup = BeautifulSoup(r, 'html.parser')
table = soup.find_all('tbody')
rows = table[2].find_all('tr')

In [134]:
# Country name extraction
def extract_country_name(col):
    # For country name, test in process:
    col = rows[3].find_all('td')
    test_country_title = col[0].contents[2]

    # Parse the HTML content using BeautifulSoup
    test_country_title = BeautifulSoup(str(test_country_title), 'html.parser')

    # Find the 'a' tag within the parsed HTML
    a_tag = test_country_title.find('a')

    # Extract the text content of the 'a' tag (country name)
    country_name = a_tag.text
    return country_name

In [144]:
col = rows[3].find_all('td')
col[2].contents[0]

'26,854,599'

In [145]:
# For loop to build table
# 213 countries
# 'Country' and 'GDP_USD_billion.'
count = 0 
df = pd.DataFrame(columns=['Country', 'GDP_USD_billion'])
data_dict = dict()

for row in rows[3:]:
    if count < 214:
        col = row.find_all('td')
        data_dict = {'Country':extract_country_name(col),
                     'GDP_USD_billion':col[2].contents[0]}
        df1 = pd.DataFrame(data_dict, index = [0])
        df = pd.concat([df,df1])
        count+=1
        print(count)
    else:
        break

df

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213

          Country GDP_USD_billion
0   United States      26,854,599
0   United States      19,373,586
0   United States       4,409,738
0   United States       4,308,854
0   United States       3,736,882
..            ...             ...
0   United States               —
0   United States             248
0   United States             151
0   United States               —
0   United States              65

[213 rows x 2 columns]