In [3]:
import sqlite3
import pandas as pd

In [6]:
conn = sqlite3.connect('Practice_Movies copy.db')
cursor = conn.cursor

query = 'SELECT * FROM movie_data'

df = pd.read_sql(query, conn)

df

                                 Film  Year  RottenTomatoesRank
0               It Happened One Night  1934                   1
1                        Citizen Kane  1941                   2
2                    The Wizard of Oz  1939                   3
3                        Modern Times  1936                   4
4                       Black Panther  2018                   5
5                            Parasite  2019                   6
6                   Avengers: Endgame  2019                   7
7                          Casablanca  1942                   8
8                           Lady Bird  2017                  12
9                             Get Out  2017                  15
10                      The Godfather  1972                  17
11                 Mad Max: Fury Road  2015                  18
12  Spider-Man: Into the Spider-verse  2018                  19
13                          Moonlight  2016                  20
14                        Sunset Blvd  1950                  21
15                      All About Eve  1950                  22
16             The Philadelphia Story  1940                  24
17                      A Quiet Place  2018                  29
18                              Logan  2017                  34
19         Portrait of a Lady on Fire  2020                  36
20                               Coco  2017                  37
21               A Night at the Opera  1935                  40
22                     Thor: Ragnarok  2017                  42
23                      The Third Man  1949                  46
24                        Rear Window  1954                  47
25         E.T. the Extra Terrestrial  1982                  48
26                      Seven Samurai  1954                  49
27                 La Grande Illusion  1937                  50
28                            Arrival  2016                  51
29                Singin' in the Rain  1952                  52
30                   Double Indemnity  1944                  54
31   Snow White and the Seven Dwarves  1937                  56
32        The Best Years of Our Lives  1946                  62
33                         Metropolis  1927                  63
34                 The Maltese Falcon  1941                  67
35                         La La Land  2016                  78
36                 North by Northwest  1959                  79
37                              Alien  1979                  84
38                          King Kong  1933                  85
39                             Psycho  1960                  88
40                    LA Confidential  1997                  90
41                       Paddington 2  2018                  93
42             The Godfather, Part II  1974                  99
43              The Battle of Algiers  1966                 100